<div class="demo-sidebar">
  <nav class="navbar navbar-expand-lg navbar-light">
        <div class="collapse navbar-collapse">
          <ul class="navbar-nav flex-column" id="sidebarnav">
              <li class="nav-item"><a href="index.html" class="nav-link">Introduction</a></li>
              <li class="nav-item"><a href="cognito.html" class="nav-link">1. Authorization with AWS Cognito User Pools</a></li>

              <li class="nav-item"><a href="gateway.html" class="nav-link">2. API Gateway </a>
              </li>
              <li class="nav-item"><a href="sqs_lambda.html" class="nav-link">3. Queue and Lambda Functions</a></li>
			  
			  <li class="nav-item"><a href="dyndb_es.html" class="nav-link">4. DynamoDB & Elastic Search</a></li>
			  
			  <li class="nav-item"><a href="cloudwatch.html" class="nav-link">5. CloudWatch</a></li>

              
          </ul>

        </div>

    </nav>
  </div>